<div>
    <h2 id="page-heading">
        <span jhiTranslate="btpprojectApp.caution.home.title">Cautions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-caution" [routerLink]="['/caution/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="btpprojectApp.caution.home.createLabel">
            Create a new Caution
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'btpprojectApp.caution.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="cautions?.length === 0">
        <span jhiTranslate="btpprojectApp.caution.home.notFound">No cautions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cautions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="btpprojectApp.caution.liste.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="btpprojectApp.caution.liste.numeroCaution">Numero Caution</span></th>
                    <th scope="col" ><span jhiTranslate="btpprojectApp.caution.liste.numeroAppelOffre">Numero Appel Offre</span></th>
                    <th scope="col" ><span jhiTranslate="btpprojectApp.caution.liste.numeroMarche">Numero Marche</span></th>
                    <th scope="col" ><span jhiTranslate="btpprojectApp.caution.liste.objetCaution">Objet Caution</span></th>
                    <th scope="col" ><span jhiTranslate="btpprojectApp.caution.liste.typeCaution">Type Caution</span></th>
                    <th scope="col" ><span jhiTranslate="btpprojectApp.caution.liste.montantCaution">Montant Caution</span></th>
                    <th scope="col" ><span jhiTranslate="btpprojectApp.caution.liste.statusCaution">Status Caution</span></th>
                    <th scope="col" ><span jhiTranslate="btpprojectApp.caution.liste.dateDemande">Date Demande</span></th>
                    <th scope="col" ><span jhiTranslate="btpprojectApp.caution.liste.dateRetrait">Date Retrait</span></th>
                    <th scope="col" ><span jhiTranslate="btpprojectApp.caution.liste.dateDepot">Date Depot</span></th>
                    <th scope="col" ><span jhiTranslate="btpprojectApp.caution.liste.banque">Banque</span></th>
                    <th scope="col" ><span jhiTranslate="btpprojectApp.caution.liste.maitreOuvrage">Maitre Ouvrage</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let caution of cautions ;trackBy: trackId">
                    <td><a [routerLink]="['/caution', caution.id, 'view']">{{ caution.id }}</a></td>
                    <td>{{ caution.numeroCaution }}</td>
                    <td>{{ caution.numeroAppelOffre }}</td>
                    <td>{{ caution.numeroMarche }}</td>
                    <td>{{ caution.objetCaution }}</td>
                    <td jhiTranslate="{{ 'btpprojectApp.TypeCaution.' + caution.typeCaution }}">{{ caution.typeCaution }}</td>
                    <td>{{ caution.montantCaution }}</td>
                    <td jhiTranslate="{{ 'btpprojectApp.StatusCaution.' + caution.statusCaution }}">{{ caution.statusCaution }}</td>
                    <td>{{ caution.dateDemande | date:'mediumDate' }}</td>
                    <td>{{ caution.dateRetrait | date:'mediumDate' }}</td>
                    <td>{{ caution.dateDepot | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="caution.banque">
                            <a [routerLink]="['/banque', caution.banque?.id, 'view']" >{{ caution.banque?.banque }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="caution.maitreOuvrage">
                            <a [routerLink]="['/maitre-ouvrage', caution.maitreOuvrage?.id, 'view']" >{{ caution.maitreOuvrage?.nom }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/caution', caution.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/caution', caution.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(caution)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
