<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="caution">
            <h2><span jhiTranslate="btpprojectApp.caution.detail.title">Caution</span> {{ caution.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="btpprojectApp.caution.numeroCaution">Numero Caution</span></dt>
                <dd>
                    <span>{{ caution.numeroCaution }}</span>
                </dd>
                <dt><span jhiTranslate="btpprojectApp.caution.numeroAppelOffre">Numero Appel Offre</span></dt>
                <dd>
                    <span>{{ caution.numeroAppelOffre }}</span>
                </dd>
                <dt><span jhiTranslate="btpprojectApp.caution.numeroMarche">Numero Marche</span></dt>
                <dd>
                    <span>{{ caution.numeroMarche }}</span>
                </dd>
                <dt><span jhiTranslate="btpprojectApp.caution.objetCaution">Objet Caution</span></dt>
                <dd>
                    <span>{{ caution.objetCaution }}</span>
                </dd>
                <dt><span jhiTranslate="btpprojectApp.caution.typeCaution">Type Caution</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'btpprojectApp.TypeCaution.' + caution.typeCaution }}">{{ caution.typeCaution }}</span>
                </dd>
                <dt><span jhiTranslate="btpprojectApp.caution.montantCaution">Montant Caution</span></dt>
                <dd>
                    <span>{{ caution.montantCaution }}</span>
                </dd>
                <dt><span jhiTranslate="btpprojectApp.caution.statusCaution">Status Caution</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'btpprojectApp.StatusCaution.' + caution.statusCaution }}">{{ caution.statusCaution }}</span>
                </dd>
                <dt><span jhiTranslate="btpprojectApp.caution.dateDemande">Date Demande</span></dt>
                <dd>
                    <span>{{ caution.dateDemande }}</span>
                </dd>
                <dt><span jhiTranslate="btpprojectApp.caution.dateRetrait">Date Retrait</span></dt>
                <dd>
                    <span>{{ caution.dateRetrait }}</span>
                </dd>
                <dt><span jhiTranslate="btpprojectApp.caution.dateDepot">Date Depot</span></dt>
                <dd>
                    <span>{{ caution.dateDepot }}</span>
                </dd>
                <dt><span jhiTranslate="btpprojectApp.caution.banque">Banque</span></dt>
                <dd>
                    <div *ngIf="caution.banque">
                        <a [routerLink]="['/banque', caution.banque?.id, 'view']">{{ caution.banque?.banque }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="btpprojectApp.caution.maitreOuvrage">Maitre Ouvrage</span></dt>
                <dd>
                    <div *ngIf="caution.maitreOuvrage">
                        <a [routerLink]="['/maitre-ouvrage', caution.maitreOuvrage?.id, 'view']">{{ caution.maitreOuvrage?.nom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/caution', caution.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
